nav {
  background-color: white;
  padding: 15px;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 1rem rgba(0,0,0,.15);
 display: block;
  z-index: 10000000000000000000;
  
}
.nav-flex{
   display: flex;
  justify-content: space-between;
}
.route{
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  color: gray;
  
}
.route:hover{
  color: black;
  text-decoration: none;
}
.logo-search {
  display: flex;
  align-items: center;
  gap: 20px;
}
input {
  border: none;
  background-color: #e9ecef;
  color: black;
  padding: 8px 8px;
  border-radius: 3px;
  text-indent: 15px;
  position: relative;
  width: 15rem;
}
input:focus{
  outline: none;
  border: none;
}
.zoom {
  color: rgb(110, 109, 109);
  font-size: 20px;
  position: absolute;
  z-index: 100;
  margin-top: 7px;
  margin-left: 3px;
}
.close {
  color: rgb(110, 109, 109);
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  margin-left: -20px;
  margin-top: 7px;
  z-index: 100;
}
nav ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

nav ul li {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  color: gray;
}
nav ul li:hover {
  color: black;
}

button {
  outline: none;
  border: none;
  background-color: #4e66f8;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 700;
  letter-spacing: 3px;
}
button:hover {
  background-color: #3443a7;
}

@media (max-width: 950px){
  .nav-flex{
    display: none;
  }
}